/* 
 * IBM interview exercise
 */
 /* general settings*/
#customers  {
	overflow-y: scroll;
	float: left;
	width:30%; 
	height:85vh;
}

#header  {
	width:90vh; 
	height:10vh;
}

#content  {
	margin-left: 31%;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/*login page and authorization*/
#login  {
	position : absolute;    
    width    : 200px;
    height   : 200px;
    left     : 50%;
    top      : 50%;
    margin-left : -170px; /* half of the width  */
    margin-top  : -100px; /* half of the height */
}

#logout {
	position : absolute;    
    right     : 1%;
	top	     : 5%;
}



 